# {{ ansible_managed }}
map $http_upgrade $connection_upgrade {
	default	upgrade;
	''	close;
}

server {

	listen 443 ssl;
	listen [::]:443 ssl;

	server_name {{ item.key }}.{{ otree_domain }};

	ssl_certificate {{ ssl_certificate_path }};
	ssl_certificate_key {{ ssl_certificate_key_path }};

	location = /favicon.ico {
                alias /var/www/media/images/favicon.ico;
        }

	location / {
		access_log off;
		proxy_pass http://127.0.0.1:{{ item.value.port }};
		proxy_set_header X-Real-IP $remote_addr;
		proxy_set_header Host $host;
		proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header X-Forwarded-Host $server_name;
                proxy_set_header X-Forwarded-Proto $scheme;
                proxy_set_header X-Forwarded-Port $server_port;

		# WebSocket support (nginx 1.4)
		proxy_http_version 1.1;
		proxy_set_header Upgrade $http_upgrade;
		proxy_set_header Connection $connection_upgrade;
	}

}
